
Lab10/lab10/.vs/lab10/v14/.suo
Lab10/lab10/Debug/lab10.exe
Lab10/lab10/Debug/lab10.ilk
Lab10/lab10/Debug/lab10.pdb
Lab10/lab10/ipch/LAB10-a8f06b78/LAB10-5f11c9dc.ipch
Lab10/lab10/lab10.sln
Lab10/lab10/lab10.VC.db
Lab10/lab10/lab10/Debug/lab10.log
Lab10/lab10/lab10/Debug/lab10.obj
Lab10/lab10/lab10/Debug/lab10.pch
Lab10/lab10/lab10/Debug/lab10.tlog/CL.command.1.tlog
Lab10/lab10/lab10/Debug/lab10.tlog/CL.read.1.tlog
Lab10/lab10/lab10/Debug/lab10.tlog/CL.write.1.tlog
Lab10/lab10/lab10/Debug/lab10.tlog/lab10.lastbuildstate
Lab10/lab10/lab10/Debug/lab10.tlog/link.command.1.tlog
Lab10/lab10/lab10/Debug/lab10.tlog/link.read.1.tlog
Lab10/lab10/lab10/Debug/lab10.tlog/link.write.1.tlog
Lab10/lab10/lab10/Debug/stdafx.obj
Lab10/lab10/lab10/Debug/vc140.idb
Lab10/lab10/lab10/Debug/vc140.pdb
Lab10/lab10/lab10/lab10.vcxproj
Lab10/lab10/lab10/lab10.vcxproj.filters
Lab10/lab10/lab10/ReadMe.txt
Lab10/lab10/lab10/stdafx.cpp
Lab10/lab10/lab10/stdafx.h
Lab10/lab10/lab10/targetver.h
